/*Name:Sandesh Thapa Magar
  UN ID:17421486*/
*{
  padding: 0;
}
body {
  background: url(../images/background.jpg); /* Background image of the body */
  background-repeat: repeat; /* It repeats the background image */
  background-attachment: fixed; /* It fixed the position of the background image */
  color: black;    /* Set default text color of the page */
  font-family: serif; /* Set the text style */
  font-size: 20px; /* Set default text size of the webpage */
}
header {
  background: url(../images/cover.jpg); /* Background image of the header part */
  background-size: 1350px 200px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.logo img{       /* Image of the logo */
  width: 150px;
  height: 130px;
  padding-top: 25px;
  padding-left: 30px;
  transition-duration: 1s;
}
.logo img:hover{
  transform: scale(1.1); /* Increase the size of the logo while hover */
}
header h1{
  padding-left: 300px;
  padding-top: 60px;
  color: #84FFFF;  /* It gives the skyblue color to the text */
  text-shadow: 2px 2px 3px #00E5FF;  /* It gives shadow to the text with skyblue color  */
}
a {
  text-decoration: none; /* It removes the text decoration of anchor element */
}
.menubar {
  background: #001D28;  /* It gives darkblue background color to the menubar */
  border-radius: 0 12px 12px 0;
}
.menubar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;   /* It shift the unorderlist to the right side of the menubar  */
}
.menubar ul li {
  padding: 0.5%;
  margin: 0.1%;
  width: 130px;
  height: 22px;
  text-align: center;  /* Set the text in center position of menubar ul li */
  list-style: none;
}
.menubar ul li a{
  color: white;  /* Set the text color white of the menubar */
}
.menubar ul li:hover a {  /* Enlarge the text size while ponting the mouse */
  font-size: 25px;
  color: #00E5FF;  /* Set lightblue color of the text while hover */
  text-shadow: 1px 1px 5px black;
}
.biography{
  background-color: #001D28; /* It gives darkblue background color */
  border-radius: 0 20px 20px 0;
  width: 80%;
  height: 80px;
}
.biography h2{
  padding-top: 15px;
  padding-left: 10px;
  font-size: 40px; /* It gives size to the text */
  color: #64FFDA; /* It gives skyblue color to the text */
  text-shadow: 3px 2px  3px #4527A0; /* It gives shadow to the text */
}
section{
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  margin-bottom: 30px;
  justify-content: space-around; /* It gives equal space on each side of the content */
}
.bio1{
  width: 30%;
  height: 450px;
  margin-top: 6%;
  background-color: #E0F7FA; /* Set lightblue backgroundcolor */
  padding: 1%;
  text-align: justify; /* Distribute the text evenly between the margins */
  border-radius: 25px 25px 5px 5px;
  box-shadow: 6px 5px 7px; /* Gives shadow to the division */
}
.bio2{
  width: 27%;
  height: 650px;
  position: relative; /* It helps to move the content */
  background-color: white; /* Set backgroundcolor white  */
  border-radius: 15px;
  box-shadow: 6px 5px 7px; /* Gives shadow to the division */
}
.bio2 img{
  position: absolute;
  width: 100%;
  height: 650px;
  border-radius: 15px;
  z-index: 3;
  animation: slideshow 10s linear 0s infinite;
}
img:nth-child(2){ /* Numbering of image in a row */
  z-index: 2;
  animation: slideshow 10s linear 3s infinite;
}
img:nth-child(3){  /* Numbering of image in a row */
  z-index: 1;
  animation:slideshow 10s linear 6s infinite;
}
@keyframes slideshow {  /* keyframes helps to mke animation */
  30% { opacity: 1;}
  40% { opacity: 0;}
  90% { opacity: 0;}
  100% { opacity: 1;}
 }
.bio3{
  width: 30%;
  height: 450px;
  margin-top: 6%;
  background-color: #E0F7FA; /* Set lightblue backgroundcolor */
  padding: 1%;
  text-align: justify;  /* Distribute the text evenly between the margins */
  border-radius: 25px 25px 5px 5px;
  box-shadow: 6px 5px 7px;  /* Gives shadow to the division */
}
footer {
  background-color: #333333; /* Give grey background to the footer part */
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* It gives space between the content */
}
.getme{
  display: flex;
  flex-direction: column;
  width: 40%; /* Gives the width to the getme division  */
}
.getme h2{
  margin-left: 10%;
}
.getme img{
  height: 35px;
  width: 35px;
}
.getme ul li{
  display: flex;
  flex-direction: row;
  padding-left: 20%;
}
.getme ul li a{
  color: white; /* Set the text color white */
}
.getme ul li:hover a{
  color: #64B5F6; /* Set lightblue color while hover */
  font-size: 21px; /* Increase the size of text while hover */
}
.blog{
  width: 60%; /* Gives the width to the blog division  */
}
.blog h2{
  padding-left: 10%;
  padding-top: 1%;
}
.blog h3{
  padding-top: 7%;
}
.blog ul{
  padding-left: 18%;
  padding-top: 2%;
}
.blog ul li{
  padding: 1%;
}
.blog ul li a{
  color: white;
}
.blog ul li:hover a{
  color: #64B5F6; /* Set lightblue color while hover */
  font-size: 21px; /* Increase the size of text while hover */
}
@media (max-width: 600px){ /* It is used to webpage usable in small screen */
  body{
    font-size: 18px; /* set defult text size on the mobile screen */
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .logo img{ /* Set the size of the logo in small screen*/
    width: 80%;
    height: 120px;
  }
  header h1{
    font-size: 25px; /* Gives the size to the heading text */
    padding: 0;
    padding-left: 45px;
  }
  .menubar{
    border-radius: 15px;
  }
  .menubar ul {
    display: flex;
    flex-direction: column;
  }
  .menubar ul li {
    width: 100%;
    height: 30px;
  }
  .biography{
    border-radius: 15px;
    width: 100%;
    height: 65px;
  }
  .biography h2{
    font-size: 30px;
  }
  section{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .bio1{
    width: 93%;
    height: auto;
    padding: 3%;
  }
  .bio2{
    width: 98%;
    height: 650px;
    margin-top: 4%;
  }
  .bio3{
    width: 93%;
    height: auto;
    padding: 3%;
    margin-top: 4%;
  }
  footer {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  .getme{
    width: 100%;
  }
  .getme ul li{
    padding-left: 10%;
  }
  .getme ul li:hover a{
    font-size: 17px; /* Increase the size of the text while hover in mobile screen */
  }
  .blog{
    width: 100%;
  }
  .blog ul li:hover a{
    font-size: 17px;
  }
  .blog h3{
    padding-left: 15%;
  }
}
