*{
  padding: 0;
}
body {
    background: url(../images/background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    color: black;
    font-family: serif;
    font-size: 20px;
}
header {
  background: url(../images/cover.jpg);
  background-size: 1350px 200px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.logo img{
    width: 150px;
    height: 130px;
    padding-top: 25px;
    padding-left: 30px;
    transition-duration: 1s;
}
.logo img:hover{
  transform: scale(1.1);
}
header h1{
  padding-left: 300px;
  padding-top: 60px;
  color: #84FFFF;
  text-shadow: 2px 2px 3px #00E5FF;
}
a {
    text-decoration: none;
}
.menubar {
    background: #001D28;
    border-radius: 0 12px 12px 0;
}
.menubar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.menubar ul li {
    padding: 0.5%;
    margin: 0.1%;
    width: 130px;
    height: 22px;
    text-align: center;
    list-style: none;
    border-radius: 10px;
}
.menubar ul li a{
  color: white;
}
.menubar ul li:hover a {
    font-size: 25px;
    color: #00E5FF;
    text-shadow: 1px 1px 5px black;
}
.cv{
  background-color: #001D28;
  border-radius: 0 20px 20px 0;
  width: 80%;
  height: 80px;
}
.cv h2{
  padding-top: 15px;
  padding-left: 10px;
  font-size: 40px;
  color: #64FFDA;
  text-shadow: 3px 2px  3px #4527A0;
}
section{
  margin-top: 35px;
  margin-bottom: 35px;
}
.first{
  position: relative;
  left: 30%;
  background-color: #E0F7FA;
  width: 40%;
  height: 200px;
  border-radius: 25px;
  padding: 0.5%;
  box-shadow: 5px 5px 6px;
}
.middle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.one{
  margin-top: 4%;
  background-color: #E0F7FA;
  height: 250px;
  width: 30%;
  border-radius: 25px;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  line-height: 1;
  box-shadow: 5px 5px 6px;
}
.article{
  padding-left: 7%;
}
.two{
  width: 30%;
  background-color: white;
  height: 350px;
  border-radius: 50%;
  box-shadow: 5px 5px 6px;

}
.two img{
  width: 395px;
  height: 350px;
  display: block;
  margin: auto;
  border-radius: 50%;
  transition-duration: 3s ;
}
.two img:hover{
  transform: rotateY(360deg);
}
.three{
  margin-top: 4%;
  width: 30%;
  background-color: #E0F7FA;
  height: 250px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  font-size: 17px;
  box-shadow: 5px 5px 6px;
}
.article1{
  padding-left: 3%;
}
.last{
  position: relative;
  left: 25%;
  background-color: #E0F7FA;
  height: 250px;
  width: 50%;
  border-radius: 25px;
  margin-top: 20px;
  font-size: 18px;
  padding: 0.5%;
  line-height: 1;
  box-shadow: 5px 5px 6px;
}
footer {
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.getme{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.getme h2{
  margin-left: 10%;
}
.getme img{
  height: 35px;
  width: 35px;
}
.getme ul li{
  display: flex;
  flex-direction: row;
  padding-left: 20%;
}
.getme ul li a{
  color: white;
}
.getme ul li:hover a{
  color: #64B5F6;
  font-size: 21px;
}
.blog{
  width: 60%;
}
.blog h2{
  padding-left: 10%;
  padding-top: 1%;
}
.blog h3{
  padding-top: 7%;
}
.blog ul{
  padding-left: 18%;
  padding-top: 2%;
}
.blog ul li{
  padding: 1%;
}
.blog ul li a{
  color: white;
}
.blog ul li:hover a{
  color: #64B5F6;
  font-size: 21px;
}
